/*
	Here we are declaring our fonts for use on this page,
	the declaration works as follows:

	@font-face - tells the browser we are loading a new font
	font-family - declares a name for this font
	font-weight - sets a weight for this font (i.e. bold)
	font-style - sets a style for this font (i.e. italic)
	src - sets the different file types available for loading
		by different browers

	Each browser tends to work with different filetypes for
	the fonts, and as a result to ensure as broad-base support
	as possible we load a broad base of fonts:

	.eot = internet explorer browsers **
	.woff2 = super modern browsers
	.woff = fairly modern browsers
	.ttf = older browsers

	** We end up having to load .eot files twice due to
		bugs in different IE browsers and how they load
		font files
*/

@font-face {
    font-family: 'Venus';
    src: url('../fonts/venussb-bolext-webfont.woff2') format('woff2'),
         url('../fonts/venussb-bolext-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Venus';
    src: url('../fonts/venussb-medext-webfont.woff2') format('woff2'),
         url('../fonts/venussb-medext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
