/* -------------------------------------
    STYLING AND FLEX
   ------------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

/* TEXT ELEMENTS
  ===========================================================================*/

body {
  font-family: 'Venus', Verdana, sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  color: #DA4121;
}

a {
  text-decoration: none;
  color: #DA4121;
}

a:hover{
  text-decoration: underline;
}

h1 {
  font-family: 'Venus', Verdana, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

h2 {
  font-family: 'Venus', Verdana, sans-serif;
  font-weight: normal;
  font-size: 1em;
}

h3 {
  font-family: 'Venus', Verdana, sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
}

h4 {
	font-family: 'Venus', Verdana, sans-serif;
  font-weight: bold;
	font-size: 0.8em;
	text-transform: uppercase;
	background-color: #DA4121;
	color: white;
	width: fit-content;
}

p {
  font-family: 'Venus', Verdana, sans-serif;
  font-weight: normal;
  font-size: 0.8em;
	line-height: 1.7;
}

.title-page {
  font-size: 2em;
}

.title-content {
	margin-bottom: 0;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.margin-auto {
	margin: auto;
}

.metadata {
	font-size: 0.8em;
}

/* COMPONENTS
  ===========================================================================*/

/* Navigation Bar */
.main-nav {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
	top: 0;
  left: 0;
	padding-left: 5%;
	padding-top: 1em;
	padding-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.9);
	z-index: 3;
}

.main-nav a:hover, nav a:focus {
  cursor: pointer;
}

.content {
  width: 75%;
  margin: auto;
  padding-top: 10px;
}

/* HOME PAGE
  ===========================================================================*/

header, footer {
  margin: auto;
  text-align: center;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 30px;
}

#name {
  font-size: 4em;
  margin-bottom: 0.3em;
  margin-top: 2em;
}

.toc {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  width: 650px;
  margin: auto;
}

.flex-toc {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 80px;
  flex: 0 1 65%;
}

.flex-toc h2 {
  font-size: 1.5em;
}

.dottedline {
  flex: 1 0 0%;
  height: 30px;
  margin: 1.3em 0.5em 0em 0.5em;
  border-bottom: 4px dotted #DA4121;
}

/* STYLEGUIDE
  ===========================================================================*/

section {
  padding-top: 10px;
  padding-bottom: 80px;
}

#colours{
	position: relative;
}

.colour {
  position: relative;
	background-color: #DA4121;
	color: white;
	width: 100%;
	height: 150px;
	text-align: center;
}

.colour p {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 150px;
	padding: 4em 5em 4em 5em;
  margin: 0;
}

.underline {
	border-bottom: 2px solid #DA4121;
	width: 100%;
	/* margin-top: -0.5em; */
  /* padding-top: 1em; */
}

.underline-test {
  border-top: 2px solid #DA4121;
  height: 30px;
  margin: 1.3em 0.5em 0em 0.5em;
}

.styleguide-nav-test {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.9);
	z-index: 3;
}

/* PROJECT PAGES
  ===========================================================================*/

.banner-img {
  overflow: hidden;
	object-fit: cover;
	object-position: center;
	width: 100%;
	max-width: 100%;
	max-height: 530px;
}

.project-img {
	overflow: hidden;
	object-fit: cover;
	object-position: center;
	width: 100%;
	max-width: 100%;
	padding: 15px 0;
}

.gif {
	overflow: hidden;
	object-fit: cover;
	object-position: center;
	width: 75%;
	margin: 0 12.3%;
}

/* This div is to place any images or videos as a banner for a project page */
.banner {
	text-align: center;
	z-index: 1;
	width: 91%;
	margin: 5em auto auto auto;
}

/* This code adjusts the size of the video, without distorting the aspect ratio */
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 41.5%;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.credits {
	display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 100px;
	font-size: 0.8em;
}

.col1 {
  width: 100%;
  margin: auto;
	padding: 15px 0;
}

.col2 {
  width: 48%;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 65%;
  justify-content: space-between;
  padding: 15px 0;
}

.col2-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 100%;
  flex: 0 1 45%;
}

.col2-item h2 {
  text-align: right;
}

.invision {
  transform: scale(0.75);
}

/* ABOUT PAGE
  ===========================================================================*/

.container {
  display: flex;
  flex-wrap: wrap;
  width: 91%;
  justify-content: space-between;
  padding-top: 60px;
  text-align: left;
  margin: 0 auto;
}

.col2-imgs {
  width: 48%;
}

.hidden {
	display: none;
}

#portrait-img, #oneasics-img, #inamoto-img, #hootsuite-img, #akqa-img {
	overflow: hidden;
	object-fit: scale-down;
	object-position: left;
}

#portrait {
	position: absolute;
	z-index: -1;
	padding-top: 17px;
  margin-left: 2em;
}

#portrait-img {
	max-width: 100%;
	max-height: 610px;
	padding: 15px 0;
}

#oneasics {
	position: absolute;
	z-index: 1;
	margin-top: 8em;
	margin-left: 18em;
}

#oneasics-img {
	max-width: 100%;
	max-height: 610px;
	padding: 15px 0;
}

#inamoto {
	position: absolute;
	z-index: 2;
	margin-top: 3.3em;
	margin-left: -2.5em;
}

#inamoto-img {
	max-width: 39%;
	max-height: 610px;
	padding: 15px 0;
}

#hootsuite {
	position: absolute;
	z-index: 3;
	margin-top: 12.5em;
  margin-left: -1.5em;
}

#hootsuite-img {
	width: 100%;
	padding: 15px 0;
}

#akqa {
	position: absolute;
	z-index: 4;
	margin-top: 19em;
}

#akqa-img {
	max-width: 34%;
	max-height: 610px;
	padding: 15px 0;
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

/* #portrait:hover {
	display: block;
} */

.about-page {
  font-size: 1.5em;
}
